.detailDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  padding: 20px;
  background-color: #fffdf7;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(134, 177, 234, 0.5);
}

.DetailDescription {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.6;
  color: #e0f7fa;
  padding: 0 20px;
}

.detailHeading {
  text-align: center;
  margin: 20px 0;
  font-size: 42px;
  color: #2ca58d;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  margin-bottom: 12px;
  color: #2ca58d;
}

img {
  min-width: 200px;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(28, 28, 28, 0.5);
}

iframe {
  margin: 20px auto;
  display: block;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  height: 450px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}
