.detailDiv {
  display: flex;
  margin: 10px;
  /* flex-direction: column; */
}

.DetailDescription {
  display: flex;
  margin: 10px;
  flex-direction: column;
  /* line-height: 20px; */
}

.detailHeading {
  text-align: center;
  margin: 20px;
}

p {
  font-size: 18px;
}
img {
  height: 600px;
}
