.movie-list {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.movie-item {
  width: 280px;
  background-color: #fffdf7;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.movie-item img {
  width: 100%;
  height: auto;
  border-bottom: 3px solid #2ca58d;
}

.movie-item h2 {
  font-size: 18px;
  color: #2ca58d;
  text-align: center;
  margin: 10px 0 5px;
}

.movie-item p {
  font-size: 14px;
  color: #84bc9c;
  text-align: center;
  margin: 4px;
}

.ratingP {
  margin-top: 10px;
  margin-bottom: 20px;
}
