/* MovieList.css */

.movie-list-container {
  display: flex;
  justify-content: center;
}

.movie-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
  margin-left: 150px;
}

.movie-item {
  margin: 10px;
  max-width: 300px;
  background-color: #726969;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for card effect */
  padding: 10px;
}

.movie-item-content {
  padding: 10px;
}

.movie-item h2 {
  margin-bottom: 5px;
}

.movie-item h3 {
  margin-bottom: 5px;
  font-size: 14px;
}

.movie-item p {
  margin-bottom: 10px;
  font-size: 16px;
}

.movie-item img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
